body {
    font-family: Arial, sans-serif;
    margin: 0;
  }
  /*background-image*/
  .bg-img{
    background-image: url(white.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height:75vmax;

}

.name{
    font-size:larger;
    font-weight:bold;
    background-color:#fffc00;
    padding:30px;
}
  /* Navigation Bar */
  test {
    background-color:#fffc00;
    color: #333;
    padding: 0;
  }
  
  .profile{
    font-size: 28px;
    font-weight: bold;
    margin: right 25px;;
    text-align: right;
  }
  
  .test-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .test-links li { 
    margin-right: 30px;
  }
  
  .test-links li a {
    color: #333;
    text-decoration: none;
  }
  
  /* Hero Section */
  header {
    background-color: #ffffe0;
    padding: 45px;
    text-align: center;
    border: 5px;
  }
  
  /* About Me Section */
  #about {
  
    padding: 60px;
    text-align: left;
  }
  
  
  /* Skills Section */
  #skills {
  
    padding: 60px;
    background-color: #ffffe0;
    text-align: left;
  }
  
  .skills-list {
    list-style-type: none;
    padding: 0;
    color: black;
  }
  
  .skills-list li {
    display: inline-block;
    margin: 0 15px;
  }
  #projects {

    padding: 60px;
    text-align: left;
  }
  
  .project {
    margin-bottom: 30px;
  }
  
  .project a {
    display: block;
    margin-top: 15px;
  }

 
  
  /* Footer */
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  .fa {
    padding: 15px;
    font-size: 40px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    margin: 8px 5px;
  }
  .fa:hover {
    opacity: 0.8;
  }
  .fa-google{
    background:pink;
    color: blue;
  }
  .fa-instagram {
    background: #dd4b39;
    color: white;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
