body {
  font-family: Arial, sans-serif;
  margin: 0;
}
/* Navigation Bar */
nav {
  background-color: #fffc00;
  color: #333;
  padding: 20px;
}

.name{
  font-size:large;
  font-weight: bold;
}

.profile{
  font-size: 24px;
  font-weight: bold;
  margin: right 20px;;
  text-align: right;
}

.nav-top {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-top li { 
  margin-right: 20px;
}

.nav-top li a {
  color: #333;
  text-decoration: none;
}

/* Hero Section */
header {
  background-color: #ffffe0;
  padding: 40px;
  text-align: center;
  border: 2px;
}

/* About Me Section */
#self {

  padding: 50px;
  text-align: center;
}


/* Skills Section */
#languages {

  padding: 50px;
  background-color: #ffffe0;
  text-align: center;
}

.languages-list {
  list-style-type: none;
  padding: 0;
  color: black;
}

.languages-list li {
  display: inline-block;
  margin: 0 10px;
}

/* Projects Section */
#tasks {

  padding: 50px;
  text-align: center;
}

.task {
  margin-bottom: 20px;
}

/* Internships*/
#interns {

  padding: 50px;
  background-color: #ffffe0;
  text-align: center;
}

.intern {
  margin-bottom: 20px;
}


.task a {
  display: block;
  margin-top: 10px;
}

/* Contact Section */
#contact {
  background-color: white;
  padding: 50px;
  text-align: left;
}

#contact-form {
  display: flex;
  flex-direction: column;
  align-items: left;
}

#contact-form label {
  margin-bottom: 10px;

}

#contact-form input,
#contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

#contact-form button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
.fa {
  padding: 10px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.fa:hover {
  opacity: 0.7;
}
.fa-google{
  background:pink;
  color: blue;
}
.fa-instagram {
  background: #dd4b39;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}

.pic{

  border-radius: 4px;
  padding: 5px;
  width: 75px;
}
